<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stormdzh.openglandrtmp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EglSurfaceActivity" />
        <activity
            android:theme="@style/AppThemeFullScreen"
            android:name=".camera.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".VideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
    </application>

</manifest>